/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

@font-face {
    font-family: 'Whyte';
    src: url('/static/font/whyte/Whyte-Black.eot');
    src: local('whyte/Whyte Bold'), local('Whyte-Bold'),
        url('/static/font/whyte/Whyte-Bold.eot?#iefix') format('embedded-opentype'),
        url('/static/font/whyte/Whyte-Bold.woff2') format('woff2'),
        url('/static/font/whyte/Whyte-Bold.woff') format('woff'),
        url('/static/font/whyte/Whyte-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* box-sizing: border-box; */
    transition: all .2s;
}

body::-webkit-scrollbar {
    display: none;

}

body {
    background-color: #140e21;
}

/* STYLE THE LOAD PAGE */
.loading {
    --speed-of-animation: 0.9s;
    --gap: 6px;
    --first-color: #ffffff;
    --second-color: #ffffff;
    --third-color: #ffffff;
    --fifth-color: #ffffff;
    --fourth-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    gap: 6px;
    height: 100px;
}

.loading span {
    width: 7px;
    height: 90px;
    background: var(--first-color);
    animation: scale var(--speed-of-animation) ease-in-out infinite;
}

.loading span:nth-child(2) {
    background: var(--second-color);
    animation-delay: -0.8s;
}

.loading span:nth-child(3) {
    background: var(--third-color);
    animation-delay: -0.7s;
}

.loading span:nth-child(4) {
    background: var(--fourth-color);
    animation-delay: -0.6s;
}

.loading span:nth-child(5) {
    background: var(--fifth-color);
    animation-delay: -0.5s;
}

@keyframes scale {

    0%,
    40%,
    100% {
        transform: scaleY(0.05);
    }

    20% {
        transform: scaleY(1);
    }
}

.main-loader {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translateY(-50%);
}


/* HEADER PAGE */
.mobile-nav,
#onpen-menu {
    display: none;
    visibility: hidden;
}

#after-loading,
#after-loading1 {
    display: none;
    visibility: hidden;
}

header {
    /* You must set a specified height */
    margin: 0px;
    padding: 0px;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
}

header.home {
    background-image: url("/static/images/Herobanner bg.png");
    height: 940px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.nav {
    display: flex;
    padding-left: 30px;
    padding-right: 20px;
}

.title {
    font-weight: bolder;
    font-size: 33px;
    color: white;
    margin-top: 32px;
}

.align-right {
    right: 0;
    position: absolute;
}

.menu {
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    gap: 6px;
    margin-top: 30px;
    font-size: 25px;
    list-style: none;

}

.nav-item {
    margin-right: 30px;
}

.nav-item>a {
    text-decoration: none;
    color: white;

}

.containner {
    margin-top: 240px;
    display: block;
}

.containner>.nav-title {
    text-align: center;
    color: white;
    font-size: 70px;
}

.searchbar {
    margin-top: 50px;
    display: flex;
    justify-content: center;

}

input.search-input {
    width: 46vw;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #494457;
    text-align: center;
}

input::placeholder {
    color: white;
    font-size: 20px;
}

.icons {
    color: white;
    margin-top: 12px;
    z-index: 999;
}

button {
    background-color: transparent;

}

button[type="submit"] {
    text-indent: -76px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    cursor: pointer;
    position: absolute;
}

input {
    color: aliceblue;
    font-size: 1.32vw;
}

/* main content  */
main {
    background-image: url("/static/images/Herobanner\ bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    margin: 0;
    padding: 0;
    min-height: 17vw;
}

.main-content {
    margin: 0;
    min-height: 100px;
    padding: 40px 40px;
}

.main-header {
    font-size: x-large;
    line-height: 1.2;
}

.concert-image {
    background-image: url("/static/images/concert.png");
    height: 30vh;
    margin-top: 1.32vw;
    margin-bottom: 1.32vw;
    border-radius: 13px;
    background-color: #494457;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

.artist-date {
    display: flex;
    margin-bottom: 1vw;
    margin-right: 1vw;
    align-items: flex-end;
}

.concert-image>.event,
.artist {
    display: block;
    padding: 1.32vw;
    font-size: 3vw;
}

.event>.event-title {
    font-size: 4vw;
}

.event>.event-name {
    font-size: 1.7vw;
}

h3 {
    font-size: x-large;
    margin-top: 10px;
}

.concert-image>.event-date {
    font-weight: bold;
    position: absolute;
    font-size: 1.1vw;
    right: 0vw;
    margin-top: 8vw;
    margin-right: 5vw;
}

.event-list,
.artist-list {
    margin-top: 3vw;
}

.event-card,
.artist-card {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6vw;
    margin: 2vw 0.4vw 0 2vw;

}

.one-event-card,
.one-artist-card {
    border: #140e21;
    border-radius: 8px;
    background-color: #180635;
    padding-left: 1vw;
    padding-top: 1vw;
    line-height: 1.4;
}

.one-event-card {
    min-height: 110px;
    min-width: 140px;
}

.see-all {
    display: flex;
    justify-content: right;
    margin: 1.7vw 2.2vw 1vw 0;
    width: 100%;
}

.see-all>a {
    background-color: #013e52;
    border-radius: 15px;
    text-align: center;
    border: #013e5200;
    padding: 8px;
    font-size: 1.5em;
}

.one-artist-card {
    min-height: 120px;
    min-width: 150px;
    font-size: 12px;

}

.one-artist-card>.groups {
    font-size: 15px;
}

.one-artist-card>img {
    width: 120px;
    border-radius: 10px;
}

.footer {
    margin: 8vw 2vw 0 2vw;
    display: flex;
    font-size: 12px;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

.footer>.footer-title {
    font-size: xx-large;
    font-weight: 800;
    /* margin-right: 23vw; */
}

.footer-title2 {
    font-size: x-large;
    font-weight: 600;
    /* margin-right: 23vw; */
}

.footer-title3 {
    font-size: large;
    font-weight: 400;

}

/*  Artist css */
header.artist {
    min-height: 300px;
    background-image: url("/static/images/Herobanner\ bg\ -resize.png");
}

.title-page {
    font-size: 2em;
    font-weight: bold;
    margin: 80px 0 0 4.3vw;
    color: white;
}

.title-artists-header-lists {
    display: flex;
    padding: 2vw;
    justify-content: space-between;
}

.title-artist-list {
    font-size: 1.5em;
    font-weight: 1000;
}

.searchbar-table {
    justify-content: flex-start;
    right: 0;
    padding-bottom: 1vw
}

.searchbar-table>form {
    padding-right: 3vw;
}

.search-input-table {
    width: 240px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #494457;
    text-align: center;
}

.table-artist {
    margin-top: 3.4vw;
    margin-left: 4.4vw;
    margin-bottom: 20vw;
}

.switch-tab {
    position: absolute;
    right: 0;
    display: flex;
    /* margin: 2vw 1vw 1vw 0; */
    color: white;
    font-size: 19px;
    font-weight: 900;
    margin-right: 3.8vw;
    text-align: center;
}

.table-responsive {
    justify-content: center;
    overflow-x: auto;

}

table {
    border-collapse: collapse;
    margin: 0;
    margin-bottom: 3vw;
}

thead tr {
    background-color: #013e52;
    font-size: large;
    font-weight: 500;
    color: white;
    text-align: left;
}

table th,
table td {
    padding: 1vw 8.6vw;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

.pagination {
    position: absolute;
    right: 0;
    margin-top: 0.3;
    margin-right: 2.5vw;
    color: white;
}

.pagination>.page-num {
    border-radius: 5px;
    margin-right: 0.5vw;
    padding: 0.3vw 0.5vw;
    background-color: #013e52;

}

.pagination>.current-page {
    background-color: #475fd3 !important;
}

/* map card */
.map {
    padding: 1.2vw;
}

.map-card {
    width: 100%;
}

.map-card>iframe {
    height: 34vw;
    border-radius: 0.7vw;
    filter: invert(92%) contrast(83%);
}

.single-artits {
    display: flex;
    color: #fff;
    flex-direction: column;
    margin: 6vw 0;
    justify-content: center;
    width: 60%;
    margin-left: 20%;
    
}

.single-artits>.single-details {
    display: flex;
    border-radius: 0.7vw;
    gap: 1vw;
    background-color: #161446;
    padding: 2vw;
    justify-content: space-between;
}

.artist-card-title2 {
    font-size: 2.5vw;
}

.album {
    border-left: 1px solid #c7c7c7;
    line-height: 1.4;
    text-align: center;
    font-size: 2vw;
    padding: 4vw;
}

.album>.album-name {
    font-size: xx-large;
    font-weight: 800;

}

.album>img {
    width: 11vw;

}

.artist-song {
    margin-right: 2vw;
    padding: 0 2.3vw;
    text-align: center;

}

.artist-song>h2 {
    margin-top: 0.8vw;
    padding-bottom: 0.2vw;
}

.artist-song>img {
    width: 10vw !important;
    border-radius: 2px;
}

.single-members {
    border-left: 1px solid #c7c7c7;
    padding: 0 0.3vw;
    min-width: 12vw;
    font-size: large;
    line-height: 1.4;
    padding-left:4vw;

}

.concert-detail {
    background-image: url("/static/images/concert.png");
    padding: 1.2vw;
    color: white;
    margin: 3vw;
    border-radius: 0.3vw;
    flex-direction: column;

}

.concert-infos {
    display: flex;
    margin: 0.4vw;
    justify-content: space-between;
}

.concert-infos>.single-members {
    margin-left: 2vw;
}

.concert-detail>.concert-title>h1 {
    font-weight: 900;
    font-size: 5vw;
}

.location-date {
    align-items: flex-end;
}

.single {
    display: flex;
}

.title-sss {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
}

.dates-all {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 30vw;
}

.one-date {
    font-size: 0.9vw;
    font-weight: 400;
}

@media screen and (max-width: 960px) {
    .switch-tab {
        left: 2.5vw;
        margin-bottom: 1vw;
    }
    .search-input-table{
        max-width: 180px;

    }
    .event-card, .artist-card {
        margin: 0;
        justify-content: center;
    }
    .map-card>iframe {
        height: 58vw;
    }
    .single-artits{
        width: 95%;
        margin-left: 0 ;
    }
    .single-artits>.single-details {
        flex-wrap: wrap;
    }
    .artist-song {
        width: 100%;
    }
    .artist-song > .artist-card-title2{
        font-size: 27px
    }
    .artist-song >.groups{
        font-size: 18;
    }
    .single-members, .album{
        text-align: center;
    }
    input {
        color: aliceblue;
        font-size: 1.3em;
    }
    .nav-title{
        font-size: 50px !important;
    }
    .header.home{
        height: 700px !important;
    }
    .concert-image {
        height: 20vh;
    }
    .see-all {
     justify-content: center;
    }
}

/* responsive disign */
@media screen and (max-width: 600px) {
    .align-right {
        display: none;
        visibility: hidden;
    }

    .mobile-nav,
    #onpen-menu {
        display: block;
        visibility: visible;
    }

    .mobile-nav {
        color: white;
        position: fixed;
        z-index: 2;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(8px);
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    #closebtn {
        position: absolute;
        color: white;
        right: 3vw;
        top: 3vw;
        font-size: xx-large;
        font-weight: bold;
    }

    .menu-mobile {
        font-size: 4vw;
        font-weight: 700;
        line-height: 2.4;
        padding-top: 5vw;
        text-align: center;
        top: 20%;
        left: 40%;
        position: absolute;
    }

    .menu-mobile>li {
        text-decoration: none;
        list-style: none;
    }

    .menu-mobile>li:hover {
        /* font-size: 5vw; */
        font-weight: 1000;
    }

    #onpen-menu {
        position: absolute;
        right: 4vw;
        margin-top: 8vw;
        background-color: #013e52;
        border-radius: 0.5vw;
    }

    .burger-menu>span {
        border-top: 3px #0c0c0c solid;
        display: block;
        width: 4vw;
        margin: 1vw;
    }

    .burger-menu {
        border: 1.2vw #013e52 solid;
        border-radius: 0.4vw;
        display: block;
    }
    .concert-infos{
        display: block;

    }
    .location-date{
        margin-top: 30px;
        text-align: center;
        /* border-top: 12px solid #fff; */
    }
    .one-date,.date-album{
        font-size: 18px;
    }
    .dates-all{
        max-width: 100vw;
        gap: 18px;
        text-align: center;
        justify-content: center;
    }
   
    .single-members, .album{
        border: none;
        width: 100%;
        margin-top: 2vw;
        border-top: 2px solid #fff;
        border-width: 3vw;
    }
    .concert-image {
        height: 15vh;
    }



    .footer {
        display: block;
        font-size: 4px;
        gap: 0;
        text-align: center;
        line-height: 1.8;
    }

    .footer>.footer-title {
        margin-right: 0;
    }

    .footer-title2 {
        margin-right: 0;
    }
}